@CHARSET "UTF-8";
#conWBground{
	background-color: white;
}
#form{
	margin: 2%;
}

#registerStyle{
	left: 33%; 
	margin: 10px
}

#title{
	color: #3c8dbc;	
	font-weight: bold;
	font-size: 28px;
}
#hr{
	width: 1370px;
}

